
<div class="flex align-items-center justify-content-center perso">
    <div class="card ">
        <h1 style="text-align: center;">Les chiffres :</h1>
        <div class="grid">
            <div class="col-5 flex align-items-center justify-content-center flex-column">
                <h1>X UTILISATEURS</h1>
                <p-button label="Administrer" styleClass="p-button-lg" routerLink="/users"></p-button>
            </div>
            <div class="col-2">
                <p-divider layout="vertical"></p-divider>
            </div>
            <div class="col-5 flex align-items-center justify-content-center flex-column">
                <h1>X COMMANDES</h1>
                <p-button label="Administrer" styleClass="p-button-lg" routerLink="/orders"></p-button>
            </div>
        </div>
    </div>
</div>
