
<div class="flex align-items-center justify-content-center perso">
    <div class="card ">
        <div class="grid">
            <div class="col-5 flex align-items-center justify-content-center flex-column">
                <h1 class="link" routerLink="/users">UTILISATEURS</h1>
                <!-- <p-button label="Administrer" styleClass="p-button-lg" routerLink="/users"></p-button> -->
            </div>
            <div class="col-2 flex align-items-center justify-content-center flex-column">
                <h1 class="link" routerLink="/items">OBJETS</h1>
                <!-- <p-button label="Administrer" styleClass="p-button-lg" routerLink="/items"></p-button> -->
            </div>
            <div class="col-5 flex align-items-center justify-content-center flex-column">
                <h1 class="link" routerLink="/orders">COMMANDES</h1>
                <!-- <p-button label="Administrer" styleClass="p-button-lg" routerLink="/orders"></p-button> -->
            </div>
        </div>
    </div>
</div>
